* {
    margin: 0;
    padding: 0;
}

/* bagian home */

.wrapper {
    background-image: url('log/hope.jpg');
    width: 100%;
    height: 140px;
    object-fit: cover;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

.wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.beranda .judul {
    color: #d4d4c8;
    font-weight: bold;
    position: relative;
    margin-left: 10px;
}

.wrapper .back {
    color: #d4d4c8;
    font-size: 22px;
    position: relative;
    margin: 0 0 0 20px;
}



/* temukan */

.kategori {
    width: 100%;
    display: flex;
    justify-content: end;
    
}

.wrapper .tulisan {
    color: #d4d4c8;
    font-weight: bold;
    position: relative;
    margin: 0 20px 0 0;
}


.bagian-bawah h2 {
    padding: 0 0 0 17px;
    color: rgb(43, 42, 41);
    margin: 0 0 18px 0;
}

.categories {
    width: 100%;
}


/* discover */



.kilo {
    height: 180px;
    padding: 0 0 0 0;
    margin: 0 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;   
}

.down-card {
    background-color: rgb(186, 194, 186);
    width: 100px; 
    height: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}

.down-card .judul-bukunya {
    width: 80%; 
    height: auto;
}

.down-card .judul {
    position: absolute;
    margin-top: 100px;
    flex-grow: 1;

}
 

.judul-bukunya {
    width: 100px;
}

.judul-down {
    color: rgb(9, 9, 9);
}

.card-list {
    text-align: center; /* Untuk memastikan gambar dan teks berada di tengah */
    width: 150px; /* Atur lebar sesuai kebutuhan */
    margin: 10px auto; /* Memberikan margin otomatis untuk sentralisasi */
}

.images-card {
    width: 100px; /* Gambar memenuhi lebar container */
    height: 100px; /* Proporsi gambar tetap */
    display: block; /* Menjaga elemen gambar sebagai block */
    margin: 70px 0 0 0; /* Beri jarak antara gambar dan judul */
}

.title {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
    white-space: nowrap; /* Mencegah teks menjadi beberapa baris */
    overflow: hidden; /* Sembunyikan teks yang meluap */
    text-overflow: ellipsis; /* Tampilkan ... untuk teks yang terpotong */
    width: 60%; /* Pastikan lebar teks sesuai dengan gambar */
    max-width: 100%; /* Batas maksimal lebar teks */
}

.beranda {
    height: 120vh;
}




.gulung {
    overflow-x: hidden;
}

.down-cards , .down-cards1 , .down-cards2, .down-cards3, .down-cards4 {
    width: 10px;
    height: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.navnav {
    width: 140px;
    border-radius: 20px;
    margin: auto;
    background-color: #d4d4c8;
    position: fixed;
    bottom: 50px;
    height: 30px;
    left: 50%;
    transform: translateX(-1%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    padding: 0;
    margin: 0;
    display: flex;
}

.navnav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}




/* profile */

.profileSide {
    height: 100vh; 
}

.profileSide .profilePlace{
    display: flex;
    justify-content: start;
    padding-top: 70px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}



.profileSide .pfp-kotak {
    background: url('images/boye.png');
    width: 150px;
    height: 150px;
    background-size: cover;
}

.profileSide .waves {
    position: fixed;
    padding-top: 210px;
    width: 100%;
}

.profileSide .waves img {
    width: 100%;
    height: 600px;
}



.profileSide .waves a {
    display: flex;
    justify-content: end;
    color: rgb(29, 3, 3);
    height: 100px;
    width: 100%;
    z-index: 100;
    font-size: 25px;
    font-weight: bold;
    padding: 340px 20px 0 0;
    position: absolute;
    
}


.profileSide .wavesAtas {
    position: absolute;
}

.profileSide .wavesAtas img {
    height: 140px;
    position: absolute;
}

.profileSide .wavesAtas a {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}



.profileSide .username p {
    text-align: center;
}

.profileSide .username .gmail {
    outline: none;
    border: none;
    background-color: #e1f4fd;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}


.profileSide .optionKotak {
    background-color: #eeedee;
    width: 120px;
    border-radius: 20px;
    text-align: center;    
    margin-top: 10px;
    height: 30px;
}

.profileSide .option a {
    text-decoration: none;
    color: black;
}

.profileSide .option {
    display: flex;
    flex-direction: column;
}

.profileSide .optionTmpt {
    display: flex;
    gap: 10px;
}

.profileSide .waves {
    
    width: 100%;
    height: 390px;
    position: fixed;
    bottom: 0;
}

.profileSide .waves img{
    height: 250px;
    width: 100%;
    
}   


/* REWARD */


.rewardSide .judul {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    align-items: center;
}

.rewardSide .judul .tulisan {
    width: 120px;
    background-color: #90baf6;
    margin-top: 5px;
    border-radius: 20px;
    border-radius: 20px;
    line-height: 18px;
}

.rewardSide .Container {
    height: 87vh;

}

.rewardSide  p {
    color: #ffff;
    font-weight: bold;
}


.rewardSide .tulisanBawah {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    
}

.rewardSide .tulisanBawah .tulisan {
    width: 120px;
    background-color: #90baf6;
    margin-top: 5px;
    border-radius: 20px;
    border-radius: 20px;
    height: 100px;
}

.rewardSide .wrappers {
    background:linear-gradient(to right,#cdffd8 ,#94b9ff);
    width: 100%;
    height: 140px;
    object-fit: cover;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

.rewardSide .wrappers .back {
    color: #ffffff;
    top: 0;
    height: 100px;
    font-size: 22px;
    position: absolute;
    margin: 0 0 0 20px;
    font-weight: bold;
}

.rewardSide .wrappers .kategori img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    flex-direction: column;
    margin-bottom: 50px;
}

.rewardSide .wrappers .kategori p {
    display: flex;
    margin-top: 80px;
    width: 100%;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    position: absolute;
}


.rewardSide .tulisanKiri {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    margin-left: 10px;
}

.rewardSide .tulisanKiri .misi #satu{
    background-color: rgb(199, 188, 188);
    color: rgb(31, 28, 28);
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
}

.rewardSide .tulisanKiri .misi #dua {
    color: #5854dd;
    font-size: 11px;
    font-weight: bold;
}

.rewardSide .tulisanKanan {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    margin-right: 10px;
}

.rewardSide .tulisanKanan .misi #satu{
    background-color: rgb(199, 188, 188);
    color: rgb(31, 28, 28);
    font-size: 11px;
    font-weight: bold;
    border-radius: 10px;
}

.rewardSide .tulisanKanan .misi #dua {
    color: #5854dd;
    font-size: 11px;
    font-weight: bold;
}

.rewardSide .tulisanKanan .misi #login {
    color: rgb(218, 144, 144);
    font-size: 14.8px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(199, 188, 188);
}

.rewardSide .wrappers p {
    color: #29c5eb;
    font-size: 1.5rem;
}

.rewardSide .wrappers #satu {
    color: #428df3;
    font-size: 1.2rem;
    padding-top: 30px;
}

.rewardSide .wrappers span {
    color: #13e13e;
}















.halaman1 {
    display: block;
    height: 50vh;
}

.halaman2 {
    display: none;
}








@media (max-width: 768px) {
    .waves {
        padding-top: 310px;
    }
}


















