* {
    margin: 0;
    padding: 0;
}

/* bagian thubmnail */

.wrapper {
    background-image: url('log/fancy.jpg');
    width: 100%;
    height: 140px;
    object-fit: cover;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

.wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.beranda .judul {
    color: #d4d4c8;
    font-weight: bold;
    position: relative;
}

.wrapper .back {
    color: #d4d4c8;
    font-size: 22px;
    position: relative;
    margin: 0 0 0 20px;
}

.kategori {
    width: 100%;
    display: flex;
    justify-content: end;
    
}

.wrapper .tulisan {
    color: #d4d4c8;
    font-weight: bold;
    position: relative;
    margin: 0 20px 0 0;
}


.bagian-bawah h2 {
    padding: 0 0 0 17px;
    color: rgb(43, 42, 41);
    margin: 0 0 18px 0;
}

.categories {
    width: 100%;
}

.down-card {
    background-color: rgb(186, 194, 186);
    width: 10px;
    height: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}


.judul-bukunya {
    width: 100px;
}

.judul-down {
    color: rgb(9, 9, 9);
}


/* discover */

.kilo {
    padding-top: 100px;
    height: 180px;
    padding: 0 0 0 0;
    margin: 0 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    
}
.card-list {
    text-align: center; /* Untuk memastikan gambar dan teks berada di tengah */
    width: 150px; /* Atur lebar sesuai kebutuhan */
    margin: 10px auto; /* Memberikan margin otomatis untuk sentralisasi */
}

.images-card {
    width: 120px; /* Gambar memenuhi lebar container */
    height: 140px; /* Proporsi gambar tetap */
    display: block; /* Menjaga elemen gambar sebagai block */
    margin: 70px 0 10px 0; /* Beri jarak antara gambar dan judul */
}

.title {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
    white-space: nowrap; /* Mencegah teks menjadi beberapa baris */
    overflow: hidden; /* Sembunyikan teks yang meluap */
    text-overflow: ellipsis; /* Tampilkan ... untuk teks yang terpotong */
    width: 60%; /* Pastikan lebar teks sesuai dengan gambar */
    max-width: 100%; /* Batas maksimal lebar teks */
}




.beranda {
    height: 120vh;
}


.gulung {
    overflow-x: hidden;
}

.down-cards {
    width: 10px;
    height: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}






